@charset 'utf-8';
body {
  background-color: #ddd;
}
body::-webkit-scrollbar {
  width: 0;
}

nav {
  font-family: 'Product Sans';
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14),
    0 4px 8px rgba(0, 0, 0, 0.28);
}

.tap-target-origin {
  color: rgb(0, 0, 0);
}

.brand-logo {
  width: 100%;
}

main {
  margin-top: 68px;
}

/*
  ==============================================================================
  Side menu shadow animation
  ==============================================================================
*/
#nav-mobile {
  transition: box-shadow 0.2s ease-in-out;
}
#nav-mobile[style],
#nav-mobile[style^="transform: translateX(-1"],
#nav-mobile[style^="transform: translateX(-2"] {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.44),
    0 1px 5px 0 rgba(0, 0, 0, 0.42),
    0 3px 1px -2px rgba(0, 0, 0, 0.5),
    0 0 0 105vw rgba(0, 0, 0, 0.3);
}
#nav-mobile[style^="transform: translateX(-3"] {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.44),
    0 1px 5px 0 rgba(0, 0, 0, 0.42),
    0 3px 1px -2px rgba(0, 0, 0, 0.5),
    0 0 0 105vw rgba(0, 0, 0, 0);
}
#nav-mobile[style^="transform: translateX(-100%)"] {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0),
    0 1px 5px 0 rgba(0, 0, 0, 0),
    0 3px 1px -2px rgba(0, 0, 0, 0),
    0 0 0 105vw rgba(0, 0, 0, 0);
}
#sidenav-overlay {
  display: none;
}

/* To make it 2x easier to slide the menu out */
.drag-target {
  width: 20px;
}

#uber < main {
  overflow: hidden;
}
#uber iframe {
  margin-top: -80px;
  border: 0;
  width: 100%;
  height: 100vh;
}