@charset 'utf-8';
body {
  min-height: 100vh;
  background-color: #ddd;
}
body::-webkit-scrollbar {
  width: 0;
}

nav {
  font-family: 'Product Sans';
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14),
    0 4px 8px rgba(0, 0, 0, 0.28);
}

.tap-target-origin {
  color: rgb(0, 0, 0);
}

.brand-logo {
  width: 100%;
}

main {
  margin-top: 68px;
}
/*
  ==============================================================================
  Side menu shadow animation
  ==============================================================================
*/
#nav-mobile {
  transition: box-shadow 0.2s ease-in-out;
}
#nav-mobile[style],
#nav-mobile[style^="transform: translateX(-1"],
#nav-mobile[style^="transform: translateX(-2"] {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.44),
    0 1px 5px 0 rgba(0, 0, 0, 0.42),
    0 3px 1px -2px rgba(0, 0, 0, 0.5),
    0 0 0 105vw rgba(0, 0, 0, 0.3);
}
#nav-mobile[style^="transform: translateX(-3"] {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.44),
    0 1px 5px 0 rgba(0, 0, 0, 0.42),
    0 3px 1px -2px rgba(0, 0, 0, 0.5),
    0 0 0 105vw rgba(0, 0, 0, 0);
}
#nav-mobile[style^="transform: translateX(-100%)"] {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0),
    0 1px 5px 0 rgba(0, 0, 0, 0),
    0 3px 1px -2px rgba(0, 0, 0, 0),
    0 0 0 105vw rgba(0, 0, 0, 0);
}

/* For the logo to not overflow */
.background img {
  width: 100%;
}

#sidenav-overlay {
  display: none;
}

/* To make it 2x easier to slide the menu out */
.drag-target {
  width: 20px;
}

/*
  ==============================================================================
  FAB
  ==============================================================================
*/
.btn-floating {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14),
    0 4px 8px rgba(0, 0, 0, 0.28);
}
.btn-floating:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16),
    0 6px 12px rgba(0, 0, 0, 0.32);
}
.btn-floating img {
  margin-top: 10%;
  padding: 10%;
  width: 80%;
}